{% extends "layout.html" %}
{% block body %}
<div class="container-fluid text-center">
	<h2>Welcome to Web Scanner FrontEnd</h2>
</div>
<button id="butScan" type="button" class="btn btn-primary btn-lg">Scan document</button>
<button id="butSave" type="button" class="btn btn-primary btn-lg">Save copy</button>
<button id="butEmail" type="button" class="btn btn-primary btn-lg">E-mail PDF!</button>
<br>
<br>
<button id="butClear" type="button" class="btn btn-warning btn-lg">Clear PDFs</button>
<br>
<br>
Action:<br>
 <textarea id="actions" style="width:50%; height: 100px"></textarea>

 <script>
	 $(document).ready(function(){
	 	$("#butScan").click(function(e) {	 	    
	 	    $("#actions").load("{{ url_for('scanDo') }}");
	 	});
	 	$("#butSave").click(function(e) {	 	    
	 	    $("#actions").load("{{ url_for('scanSave') }}");
	 	});
	 	$("#butEmail").click(function(e) {	 	    
	 	    $("#actions").load("{{ url_for('scanEmail') }}");
	 	});
	 	$("#butClear").click(function(e) {	 	    
	 	    $("#actions").load("{{ url_for('scanClear') }}");
	 	});

	 });
 </script>

{% endblock %}
